<%- include("../partials/header.ejs") %>
<h1>Sign Up</h1>
<form action="/auth/sign-up" method="POST">
  <label>Username:</label>
  <input type="text" name="username" required />
  <label>Email:</label>
  <input type="email" name="email" required />
  <label>Picture URL:</label>
  <input type="text" name="picture" />
  <label>Password:</label>
  <input type="password" name="password" required />
  <label>Confirm Password:</label>
  <input type="password" name="confirmPassword" required />
  <button type="submit">Sign Up</button>
</form>
<p>Already have an account? <a href="/auth/sign-in">Sign In</a></p>
<%- include("../partials/footer.ejs") %>
