<%- include("../partials/header.ejs") %>
<% if (user) { %>
  <div>
    <h2>Welcome, <%= user.username %> 👋</h2>
    <% if(user.picture){ %>
      <img src="<%= user.picture %>" alt="Profile Picture" id="pfp" width="180" />
    <% } %>
  </div>
  <br>
  <a href="/games">🎮 View All Games</a>
  <br>
  <a href="/reviews">Check your reviews</a>
  <a href="/auth/sign-out">🚪 Sign Out</a>
<% } else { %>
  <p>You are not signed in.</p>
  <a href="/auth/sign-in">Sign In</a>
<% } %>
<%- include("../partials/footer.ejs") %>
