<%- include('../partials/header.ejs') %>
<h1>Add a game</h1>

<form action="/games" method="POST">
  <label>Title</label>
  <input type="text" name="title" required />
  <label>Genre</label>
  <input type="text" name="genre" required />

  <label>Release Year</label>
  <input type="text" name="releaseYear" required />

  <label>Image URL</label>
  <input type="text" name="cover" required />

  <button type="submit">Add game</button>
</form>

<p><a href="/games">Back to games</a></p>

<%- include('../partials/footer.ejs') %>
